## Google Cloud SQL (PostGreSQL) using Python and Pandas

In this lesson, python notebook, we focus on learning the use of Python libraries to interact with out Cloud SQL tables. We will be perfoming all the CRUD operations to get an overall understanding of the same.

### Intro to use `pycopg2` to access the database server and query tables

In [4]:
import psycopg2 as psql

In [5]:
from getpass import getpass
key = getpass(prompt="Enter the password for the database connection")
c = psql.connect(
    host="localhost",
    port=54321,
    database = "pknn_retail_db",
    user="pknn_retail_user",
    password=key
)
c

In [6]:
cursor1 = c.cursor()

A connection can be used to create multiple cursors. Each cursor can track its own set of transactions and is isolated from other. This helps to ensure the integrity of database when multiple CRUD operations are run against it from different cursors.

In [7]:
cursor1.execute("Select * from orders limit 5")
for i in cursor1:
    print(i)
    
cursor1.rowcount

(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED')
(2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT')
(3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE')
(4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED')
(5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE')

5

In [10]:
cursor1.close()
c.close()

### Integration of Cloud SQL with Pandas
Pandas can be used to do some level of data engineering tasks, like the transformation as well as the load step for small datasets. 
 
With pandas, we will make use of `sqlalchemy` to interact with database. By using this library provides an object oriented way of interacting with the database objects.

In [123]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy

# This helps to convert the string so that it can be executed by SQLAlchemy
q = lambda query: sqlalchemy.text(query)

In [108]:
connection_string = f"postgresql://pknn_retail_user:{key}@localhost:54321/pknn_retail_db"
engine = create_engine(connection_string)
conn = engine.connect()

In [109]:
# Review the head of the dataset ORDERS
pd.read_sql(q("SELECT * FROM orders LIMIT 4"), con=conn)

   order_id order_date  order_customer_id     order_status
0         1 2013-07-25              11599           CLOSED
1         2 2013-07-25                256  PENDING_PAYMENT
2         3 2013-07-25              12111         COMPLETE
3         4 2013-07-25               8827           CLOSED

In this small  project, we will be doing the following - 
1. Read the data from database server
2. Manipulate the data to generate result
3. Publish the final dataframe to the database

In [110]:
orders = pd.read_sql("orders", con=conn)
print(f"Shape of dataframe is {orders.shape}")
orders.columns

Shape of dataframe is (68883, 4)

Index(['order_id', 'order_date', 'order_customer_id', 'order_status'], dtype='object')

In [111]:
## Small grouping logic
orders_by_status = orders.groupby(["order_status"])["order_id"]\
                            .nunique()\
                                .sort_values(ascending=False)\
                                    .reset_index()
                                    
# Now we will write this data to the database
orders_by_status.to_sql("order_counts_by_status", con=conn, if_exists="replace", index=False)
conn.commit()

In [112]:
orders_by_status_time = orders.assign(year = lambda df: df["order_date"].dt.year)\
                                .groupby(["year", "order_status"])["order_id"]\
                                .nunique()\
                                .reset_index()\
                                .sort_values(["year", "order_id"], ascending=False)\
                                .rename(columns=dict(order_id="count"))

orders_by_status_time.to_sql("orders_by_status_time", con=conn, if_exists="replace", index=False)
conn.commit()

In [118]:
# List all tables
from sqlalchemy import inspect
inspector = inspect(engine)

# Print the table names
inspector.get_table_names()

['departments',
 'categories',
 'products',
 'customers',
 'orders',
 'order_items',
 'order_counts_by_status',
 'orders_by_status_time']

In [98]:
# Delete the tables

conn.execute(q("DROP TABLE orders_by_status_time"))
conn.execute(q("DROP TABLE order_counts_by_status"))
conn.commit()

In [119]:
# close the connection
conn.close()

#### Running SQL query inside server and getting results

In [124]:
engine = create_engine(connection_string)
conn = engine.connect()

In [128]:
# Get the total order counts by status

query = """
select order_status, sum(count) as total_order_count
from orders_by_status_time
group by 1
order by 2 desc;
"""

pd.read_sql(q(query), con=conn)

      order_status  total_order_count
0         COMPLETE            22899.0
1  PENDING_PAYMENT            15030.0
2       PROCESSING             8275.0
3          PENDING             7610.0
4           CLOSED             7556.0
5          ON_HOLD             3798.0
6  SUSPECTED_FRAUD             1558.0
7         CANCELED             1428.0
8   PAYMENT_REVIEW              729.0

In [129]:
# Close the connection
conn.close()

## Using secrets to get the PostgresSQL server password

In [139]:
import json
from google.cloud import secretmanager

# create client object to get the relevant secrets
client = secretmanager.SecretManagerServiceClient()

In [140]:
project_id, secret_name, version = 551900299611, "retaildb-secret", "latest"
secret_path = client.secret_path(project_id, secret_name)
secret_version_path = client.secret_version_path(project_id, secret_name, "latest")

In [169]:
secret = client.access_secret_version(request={"name": secret_version_path})
secret_dict = json.loads(secret.payload.data.decode("utf-8"))
connection_string = "postgresql://{user}:{password}@{host}:{port}/{database}".format(port=54321, **secret_dict)

In [168]:
engine = create_engine(connection_string)

with engine.connect() as conn:
    df = pd.read_sql(q("SELECT * FROM categories LIMIT 10;"), con=conn)
    
df

   category_id  category_department_id        category_name
0            1                       2             Football
1            2                       2               Soccer
2            3                       2  Baseball & Softball
3            4                       2           Basketball
4            5                       2             Lacrosse
5            6                       2     Tennis & Racquet
6            7                       2               Hockey
7            8                       2          More Sports
8            9                       3     Cardio Equipment
9           10                       3    Strength Training

As can be seen from above, we were able to do the following -
1. Create secrets in the GCP console
2. Edit user's IAM to give permissions to access the secret
3. Install the `google-cloud=secret-manager`
4. Access the secrets using secret-manager's `access_secret_version` method, and populate the connection string
5. Access the data using pandas and sqlalchemy

## END OF SECTION